---
//import { Image, Picture } from "@astrojs/image/components";
import LandingLayout from "../../layouts/LandingLayout.astro";
import ToTop from "../../components/ToTop.astro";
const { id } = Astro.params;
const res = await fetch(
  `https://charlottecitylimo.com/wp-json/wp/v2/posts/${id}`
);
const media = await fetch(
  `https://charlottecitylimo.com/wp-json/wp/v2/posts/${id}?_embed`
);
const post = await res.json();
const postMedia = await media.json();

//console.log(postMedia);

const hasFeaturedMedia =
  postMedia._embedded &&
  postMedia._embedded["wp:featuredmedia"] &&
  postMedia._embedded["wp:featuredmedia"][0] &&
  postMedia._embedded["wp:featuredmedia"][0].source_url;
---

<LandingLayout
  pageTitle={`article - ${id}`}
  pageDescription={post.slug}
  pageKeywords={post.slug}
>
  <div
    class="container"
    style="margin:100px auto; display:flex;flex-direction: column; justify-content:center; align-items:center"
  >
    <img
      width={900}
      height={600}
      src={hasFeaturedMedia
        ? postMedia._embedded["wp:featuredmedia"]["0"].media_details.sizes.full
            .source_url
        : "https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg"}
      style="width: 72vw; height:40vh"
    />

    <br />
    <h1 set:html={post.title.rendered} />
    <p set:html={post.content.rendered} />

    <div class="bread-crumb alert alert-warning">
      <span>You are here:</span><br />
      <a href="/">Home</a> > <a href="/latest-news">Latest News</a> > Article : <span
        set:html={post.slug}
      />
    </div>
  </div>
  <ToTop />
</LandingLayout>
